.site-header {
  background: url("/img/background-color.png"),
    no-repeat url("/img/header-background.jpg");
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* заголовок */
.site-header__title {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 920px;
  margin-top: 27px;
}
.site-header__logo {
  height: 68px;
  width: 68px;
}
.site-header__title p {
  font-family: "GilroyRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.625rem;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
}
/*  */
.site-header__subtitle {
  margin: 36px auto 26px auto;
  text-align: center;
}
.site-header__subtitle strong {
  color: rgba(250, 210, 100, 1);
}
.site-header__subtitle h1 {
  font-family: "GilroyRegular";
  font-style: normal;
  font-weight: bold;
  font-size: 3.125rem;
  line-height: 3.75rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
}
/*  */
.site-header__slogan {
  max-width: 730px;
  font-family: "GilroyRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
}

.site-header__items {
  display: flex;
  max-width: 920px;
  margin: 40px auto 41px auto;
}
.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  margin: 16px;
  width: 285px;
  height: 125px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
}
.item img {
  margin: -22px;
  width: 44px;
  height: 44px;
}

.item p {
  font-family: "GilroyRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin: auto 10px;
  text-align: center;
  color: #000000;
}
.site-header__calendar {
  display: flex;
  align-items: center;
}
.site-header__calendar p {
  font-family: "GilroyRegular";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #fce559;
}
.site-header__calendar span {
  color: #ffffff;
}
.site-header__calendar img {
  margin-right: 23px;
}
.site-header__buttons {
  margin: 49px auto 19px auto;
  display: flex;
  align-items: center;
}
.btn-e-mail {
  width: 254px;
  height: 56px;
  border-radius: 30px;
  border: none;
  margin: 15px;
  background-color: rgba(255, 255, 255, 1);

  font-family: "GilroyRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  cursor: pointer;
}
.btn-sign-up {
  width: 254px;
  height: 56px;
  border-radius: 30px;
  margin: 15px;
  border: none;
  background-color: rgba(250, 210, 100, 1);

  font-family: "GilroyRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  cursor: pointer;
}
.site-header__agreement {
  font-family: "GilroyRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  color: #ffffff;

  mix-blend-mode: normal;
}
.site-header__bonus {
  display: flex;
  max-width: 540px;
  height: 54px;
  margin: 39px auto 75px auto;
  align-items: center;

  font-family: "GilroyRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: start;
  color: #ffffff;
  mix-blend-mode: normal;
}
.site-header__bonus img {
  height: 55px;
}
.element__left {
  position: absolute;
  top: 516px;
  left: 10%;
  right: auto;
}
.element__right {
  position: absolute;
  top: 625px;
  right: 14%;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .element__left {
    height: 135px;
    width: 133px;
    left: 5%;
  }
  .element__right {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .element__left {
    height: 135px;
    width: 133px;
    left: 4%;
    top: 640px;
  }
  .element__right {
    display: none;
  }
}
@media (max-width: 767px) {
  .element__left {
    display: none;
  }
  .element__right {
    display: none;
  }
}

@media (min-width: 606px) and (max-width: 991px) {
  .site-header__title {
    flex-wrap: wrap;
    margin-top: 34px;
    max-width: 688px;
  }
  .site-header__title p {
    font-size: 18px;
    line-height: 26px;
  }
  .site-header__subtitle {
    margin: 47px auto 17px auto;
  }
  .site-header__subtitle h1 {
    font-size: 36px;
    line-height: 44px;
    width: 690px;
  }

  .site-header__slogan {
    max-width: 690px;
  }
  .site-header__items {
    flex-wrap: wrap;
    max-width: 618px;
    margin: 72px auto 63px auto;
    justify-content: center;
  }
  .item {
    width: 271px;
    height: 145px;
  }
  .item:last-child {
    margin-top: 57px;
  }

  .site-header__calendar p {
    font-size: 18px;
    line-height: 22px;
  }
  .site-header__calendar img {
    margin-right: 17px;
  }
}

/* 320px */
@media (max-width: 605px) {
  .site-header__title {
    flex-wrap: wrap;
    margin-top: 34px;
    width: 320px;
  }
  .site-header__title p {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
  .site-header__subtitle {
    width: 320px;
    margin: 47px auto 65px auto;
  }
  .site-header__subtitle h1 {
    font-family: "GilroyRegular";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    mix-blend-mode: normal;
  }

  .site-header__slogan {
    width: 320px;
  }
  .site-header__items {
    width: 320px;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 41px;
    justify-content: center;
  }
  .item {
    width: 320px;
    height: 118px;
    margin-left: 0;
    margin-right: 0;
  }
  .site-header__calendar {
    width: 320px;
  }
  .site-header__calendar p {
    font-size: 18px;
    line-height: 22px;
  }
  .site-header__calendar img {
    height: 36px;
    margin-right: 13px;
  }
  .site-header__buttons {
    width: 320px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 41px;
    margin-bottom: 8px;
  }
  .site-header__bonus {
    width: 320px;
    font-size: 14px;
    line-height: 16px;
  }
}
