html {
  font-family: 'Krona One', sans-serif;
  font-size: 100%;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;

  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;

  background-color: darkslategrey;
}

.list-logo {
  list-style: none;
}
.list-logo__link {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: initial;
}

.list {
  list-style: none;
  position: relative;
}
.list-item {
  display: inline-block;
  vertical-align: middle;
}
.list-item__link {
  text-decoration: none;
  color: #fff;
  display: block;
}
.list-item__link:hover {
  color: cornflowerblue;
}
.list-item__link::before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  max-width: 200px;
  background-color: blueviolet;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  transition: opacity 0.2s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.list-item__link:hover:before {
  opacity: 1;
  visibility: visible;
}

.block-icon,
.block-icon-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.block-icon__item {
  display: block;
  padding: 5%;
}
.description {
  color: #fff;
}
.description__title {
  color: #fff;
  text-align: center;
}
.description__text {
  color: #fff;
  margin-top: 5%;
  text-indent: 5%;
  text-align: justify;

  line-height: calc(1.3rem + 0.5vh);
}

/*  footer */
.footer {
  font-size: small;
}
.copyright {
  color: #a1aab4;
}
.fa-heart {
  color: #fb866a;
}
/* end footer */
/* ===== media ===== */
@media (max-width: 319px) {
  .main {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  html {
    font-size: 10px;
  }
  .main {
    height: 100vh;
  }
  .header {
    background-image: url(/img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .menu {
    padding: 10px;
  }
  .list-logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .list-logo__img {
    width: 30px;
  }
  .list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    margin: 5% auto;
  }
  .list-item__link,
  .list-logo__link {
    color: blue;
    font-weight: bold;
  }
  .list-item__link {
    font-style: italic;
    font-size: larger;
    border-bottom: 2px solid;
  }
  .block-icon__item {
    width: 30px;
  }
  .description {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .description__wrap {
    padding: 10px;
  }

  .footer {
    margin-top: 5%;
    text-align: center;
    font-size: smaller;
  }
}
@media (min-width: 480px) and (max-width: 640px) {
  html {
    font-size: 12px;
  }
  .header {
    background-image: url(/img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .menu {
    padding: 10px;
  }
  .list-logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .list-logo__img {
    width: 30px;
  }
  .list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    margin: 5% auto;
  }
  .list-item__link,
  .list-logo__link {
    color: blue;
    font-weight: bold;
  }
  .list-item__link {
    font-style: italic;
    font-size: larger;
    border-bottom: 2px solid;
  }
  .description {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .block-icon__item {
    width: 35px;
  }
  .description__wrap {
    padding: 5%;
  }

  .footer {
    margin-top: 5%;
    text-align: center;
    font-size: smaller;
  }
}
@media (min-width: 641px) and (max-width: 839px) {
  html {
    font-size: 14px;
  }
  .header {
    background-image: url(/img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .menu {
    padding: 10px;
  }
  .list-logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .list-logo__img {
    width: 40px;
  }
  .list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    margin: 5% auto;
  }
  .list-item__link,
  .list-logo__link {
    color: blue;
    font-weight: bold;
  }
  .list-item__link {
    font-style: italic;
    font-size: larger;
    border-bottom: 2px solid;
  }
  .description {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .block-icon__item {
    width: 40px;
  }
  .description__wrap {
    padding: 5%;
  }

  .footer {
    text-align: center;
    font-size: smaller;
  }
}
@media (min-width: 840px) and (max-width: 1023px) {
  html {
    font-size: 16px;
  }
  .main {
    position: relative;

    background-image: url(/img/foto.png);
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-position: right bottom;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 2% auto;
    width: 75%;
  }

  .list-logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
  }

  .list-logo__img {
    width: 40px;
  }
  .list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .list-item {
    display: inline-block;
    vertical-align: middle;
  }

  .block-icon,
  .block-icon-2 {
    position: absolute;
    top: 0;
    height: 100%;
  }
  .block-icon {
    left: 0;
  }
  .block-icon-2 {
    left: 50px;
  }
  .block-icon__item {
    width: 50px;
  }

  .description {
    max-width: 50%;
    margin-left: 12%;
    margin-bottom: 4%;
    margin-top: 4%;
  }
  .footer {
    text-align: left;
    margin-left: 12%;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
  .main {
    position: relative;

    background-image: url(/img/foto.png);
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-position: right bottom;

    height: 100vh;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 2% auto;
    width: 80%;
  }

  .list-logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;

    list-style: none;
  }
  .list-logo__link {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: initial;
  }
  .list-logo__img {
    width: 50px;
  }
  .list {
    list-style: none;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .list-item {
    display: inline-block;
    vertical-align: middle;
  }

  .block-icon,
  .block-icon-2 {
    position: absolute;
    top: 0;
    height: 100%;
  }
  .block-icon {
    left: 0;
  }
  .block-icon-2 {
    left: 60px;
  }
  .block-icon__item {
    display: block;
    width: 60px;
  }

  .description {
    max-width: 55%;
    margin-left: 12%;
  }
  .footer {
    text-align: left;
    margin-left: 12%;
  }
}
