*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.site {
  max-width: 1400px;
  min-width: 375px;
  padding: 0 10%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  max-height: 757px;

  background: #ecf7f3;
}

/* ===== header =========== */
.header {
  margin-top: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.logo__link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav {
  list-style-type: none;

  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  flex-shrink: 1;
}
.nav__item + .nav__item {
  margin-left: 1.875rem;
}
.menu-icon {
  display: none;
}
#checkbox {
  display: none;
}

.nav__item-link {
  cursor: pointer;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #4a4a4a;
  text-decoration: none;
}
.nav__item-link:hover {
  border-bottom: 2px solid #fb9b69;
}

.button__sign-up {
  cursor: pointer;
  width: 6.75rem;
  height: 2.625rem;
  background: #48b774;
  border-radius: 20px;
  border: none;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;

  color: #ffffff;

  flex-shrink: 0;
}
/* ===== end header =========== */
/* ===== main ================= */
.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
/* ===== section-left ========= */
.section-left {
  margin-top: 7.5rem;
  margin-bottom: 2.75rem;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: center;
}
.section-left__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.0625rem;

  color: #2d2d2d;
}
.title-color {
  color: #ff8345;
}
.section-left__description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.625rem;

  color: #7c7c7c;

  margin-top: 1.375rem;
}
.button__get-started {
  width: 8.125rem;
  height: 2.875rem;
  margin-top: 1.875rem;
  cursor: pointer;
  background: #48b774;
  border-radius: 30px;
  border: none;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.375rem;

  color: #ffffff;
}
.form-search {
  max-width: 597px;
  width: 100%;
  height: 3.875rem;
  margin-top: 3.125rem;
  padding: 0.375rem;
  background: #ffffff;
  box-shadow: 0px 20px 30px rgba(222, 222, 222, 0.25);
  border-radius: 100px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-box {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;

  letter-spacing: 0.01em;
  cursor: pointer;
  color: #a2a2a2;
  padding-left: 2.5rem;
  width: 100%;
  border: none;
  outline: none;
}
.search-box:invalid:focus {
  outline: 2px solid red;
}
.button-search {
  width: 3.4375rem;
  height: 3.4375rem;
  cursor: pointer;
  background: #48b774;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  flex-shrink: 0;
}
.users {
  margin-top: 2.5rem;
  position: relative;
  display: inline-block;
}
.icon-user-1 {
  position: absolute;
  z-index: 10;
}
.icon-user-2 {
  position: absolute;
  z-index: 9;
  left: 19px;
}
.icon-user-3 {
  position: absolute;
  z-index: 8;
  left: 38px;
}
.icon-plus {
  position: absolute;
  z-index: 7;
  left: 57px;
}
.text-users {
  display: inline-block;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #707070;

  margin-left: 6.875rem;
  margin-top: 0.5625rem;
}
.text-users__color {
  text-decoration: none;
  cursor: pointer;
  color: #fd905a;
}
/* ===== end section-left ===== */
/* ===== section-right ======== */
.section-right {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-basis: 50%;

  height: 685px;

  background-image: url(../img/circle-grey.svg);
  background-repeat: no-repeat;
  background-position: 50% 35%;
}
.section-right__img {
  display: block;
  position: relative;
  z-index: 100;
}
.position-flag {
  position: absolute;
  top: 40%;
  /* z-index: 101; */
}
/* ******************************* */
.flag-india {
  height: 50px;

  transform-origin: 50% 35% 0;
  animation-name: moving-india, go-india;
  animation-duration: 1s, 10s;
  animation-delay: 3s, 7.4s;
  /* animation-play-state: running, paused; */
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;
}
@keyframes moving-india {
  to {
    transform: translate(-215px, 70px);
  }
}
@keyframes go-india {
  0% {
    transform: rotate(-18deg) translate(-225px) rotate(18deg);
  }

  20% {
    transform: rotate(28deg) translate(-225px) rotate(-28deg) scale(1.44);
  }
  40% {
    transform: rotate(90deg) translate(-225px) rotate(-90deg) scale(1.1);
  }
  60% {
    transform: rotate(152deg) translate(-225px) rotate(-152deg) scale(1.3);
  }

  80% {
    transform: rotate(196deg) translate(-225px) rotate(-196deg);
  }

  100% {
    transform: rotate(342deg) translate(-225px) rotate(-342deg);
  }
}
/* ******************************** */
.flag-english {
  height: 70px;

  transform-origin: 50% 35% 0;
  animation-name: moving-english, go-english;
  animation-duration: 1s, 10s;
  animation-delay: 3.4s, 7.4s;
  /* animation-play-state: running, paused; */
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;
}
@keyframes moving-english {
  to {
    transform: translate(-200px, -100px);
  }
}
@keyframes go-english {
  0% {
    transform: rotate(28deg) translate(-225px) rotate(-28deg);
  }
  20% {
    transform: rotate(90deg) translate(-225px) rotate(-90deg) scale(0.7);
  }
  40% {
    transform: rotate(152deg) translate(-225px) rotate(-152deg) scale(0.86);
  }

  60% {
    transform: rotate(196deg) translate(-225px) rotate(-196deg) scale(0.65);
  }

  80% {
    transform: rotate(342deg) translate(-225px) rotate(-342deg) scale(0.65);
  }

  100% {
    transform: rotate(388deg) translate(-225px) rotate(-388deg);
  }
}

/* ******************************** */
.flag-itali {
  height: 50px;

  transform-origin: 50% 35% 0;
  animation-name: moving-itali, go-itali;
  animation-duration: 1s, 10s;
  animation-delay: 3.8s, 7.4s;
  /* animation-play-state: running, paused; */
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;
}
@keyframes moving-itali {
  to {
    transform: translate(0, -225px);
  }
}
@keyframes go-itali {
  0% {
    transform: rotate(90deg) translate(-225px) rotate(-90deg);
  }
  20% {
    transform: rotate(152deg) translate(-225px) rotate(-152deg) scale(1.2);
  }

  40% {
    transform: rotate(196deg) translate(-225px) rotate(-196deg) scale(0.9);
  }

  60% {
    transform: rotate(342deg) translate(-225px) rotate(-342deg) scale(0.9);
  }

  80% {
    transform: rotate(388deg) translate(-225px) rotate(-388deg) scale(1.35);
  }
  100% {
    transform: rotate(450deg) translate(-225px) rotate(-450deg);
  }
}
/* ******************************** */
.flag-india-2 {
  height: 60px;

  transform-origin: 50% 35% 0;
  animation-name: moving-india-2, go-india-2;
  animation-duration: 1s, 10s;
  animation-delay: 4.2s, 7.4s;
  /* animation-play-state: running, paused; */
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;
}
@keyframes moving-india-2 {
  to {
    transform: translate(199px, -106px);
  }
}
@keyframes go-india-2 {
  0% {
    transform: rotate(152deg) translate(-225px) rotate(-152deg);
  }

  20% {
    transform: rotate(196deg) translate(-225px) rotate(-196deg) scale(0.8);
  }

  40% {
    transform: rotate(342deg) translate(-225px) rotate(-342deg) scale(0.8);
  }

  60% {
    transform: rotate(388deg) translate(-225px) rotate(-388deg) scale(1.15);
  }
  80% {
    transform: rotate(450deg) translate(-225px) rotate(-450deg) scale(0.9);
  }
  100% {
    transform: rotate(512deg) translate(-225px) rotate(-512deg);
  }
}
/* ******************************** */
.flag-india-3 {
  height: 50px;

  transform-origin: 50% 35% 0;
  animation-name: moving-india-3, go-india-3;
  animation-duration: 1s, 10s;
  animation-delay: 4.6s, 7.4s;
  /* animation-play-state: running, paused; */
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;
}
@keyframes moving-india-3 {
  to {
    transform: translate(215px, 70px);
  }
}
@keyframes go-india-3 {
  0% {
    transform: rotate(198deg) translate(-225px) rotate(-198deg);
  }

  20% {
    transform: rotate(342deg) translate(-225px) rotate(-342deg);
  }

  40% {
    transform: rotate(388deg) translate(-225px) rotate(-388deg) scale(1.44);
  }
  60% {
    transform: rotate(450deg) translate(-225px) rotate(-450deg) scale(1.1);
  }
  80% {
    transform: rotate(512deg) translate(-225px) rotate(-512deg) scale(1.3);
  }
  100% {
    transform: rotate(558deg) translate(-225px) rotate(-558deg);
  }
}
/* ===== end section-rigth===== */
/* ===== media ================ */
@media (max-width: 1200px) {
  .site {
    padding: 0 6%;
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .site {
    padding: 0 5%;
    font-size: 14px;
  }
  .main {
    flex-direction: column-reverse;
  }
  .section-left,
  .section-right {
    flex-basis: auto;
    margin-top: 1rem;
  }
}
@media (max-width: 769px) {
  .site {
    padding: 0 4%;
    font-size: 13px;
  }
  .nav {
    position: absolute;
    z-index: 102;
    top: -200%;
    overflow: auto;
    margin: auto;
    height: 100%;
    left: 0;
    right: 0;
    transition: all 0.5s;
    max-width: 100%;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  #checkbox:checked ~ ul {
    top: 3.5rem;
    transition: all 0.5s;
  }
  /* ===== end header =========== */
}
@media (max-width: 576px) {
  .section-right {
    background-image: none;
  }
  .position-flag {
    display: none;
  }
}
/* ===== end media ============ */
