html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.translater {
  padding: 10px;
}

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
}

.language__img {
  width: 30px;
  cursor: pointer;
  opacity: 0.5;
}

.language__img:hover,
.language__img_active {
  opacity: 1;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Commissioner", sans-serif;
}

.container {
  max-width: 1170px;
  min-width: 375px;
  min-height: 100%;
  margin: 0 auto;
}

.hiden {
  display: none !important;
}

@media (max-width: 1199px) {
  .container {
    padding: 0 20px;
  }
}
/* ------- header ------- */
.header {
  height: 105px;
}

.header__logo {
  max-height: 80px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__burger-link {
  display: none;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu {
  list-style: none;
}

.menu__item + .menu__item {
  margin-left: 32px;
}

.menu__item-link {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #11112d;
}

.menu__item-button {
  width: 195px;
  height: 45px;
  background: #ffffff;
  border: 1.3px solid #275e76;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  color: #275e76;
}

.header__sign-link {
  display: none;
}

/* ------- media ------ */
@media (max-width: 920px) {
  .header {
    height: 80px;
  }
  .header__burger-link {
    display: block;
  }
  .header__logo {
    margin-left: 20px;
    margin-right: auto;
    height: 45px;
  }
  .header__menu {
    display: none;
  }
  .header__sign-link {
    display: block;
  }
}
/* ------- end header ------- */
/* ------- section main ------ */
.main {
  height: 440px;
  background-image: url("/img/main.png");
  background-repeat: no-repeat;
  background-position: center center;
  border-top: 1px solid #fafafa;
}

.main__container {
  padding-top: 108px;
}

.wrap {
  max-width: 804px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__title {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 100%;
  text-align: center;
  color: #11112d;
  margin-bottom: 16px;
}

.main__subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
  text-align: center;
  color: #49495a;
  margin-bottom: 33px;
}

.main__inputs {
  border: 3px solid #275e76;
  border-radius: 4px;
}

.main__input-text {
  padding: 16px;
  max-width: 355px;
  height: 48px;
  background: #ffffff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  border-right: 1px solid #9198ab;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #9198ab;
}

.main__input-city {
  padding: 16px 38px;
  max-width: 237px;
  height: 48px;
  border: none;
  background: #ffffff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #9198ab;
  background-image: url("/img/icon-point.svg");
  background-repeat: no-repeat;
  background-position: 12px center;
}

.main__button-submint {
  max-width: 203px;
  height: 48px;
  padding: 0px 15px;
  background: #275e76;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  color: #f5f6f7;
  text-align: center;
  cursor: pointer;
}

.main__button-submint img {
  vertical-align: sub;
  height: 20px;
}

/* ------- media section main ------- */
@media (max-width: 719px) {
  .main {
    height: auto;
    /* height: 483px; */
    /* background-image: url("/img/main-media-s.png"); */
    background-image: none;
    background-repeat: no-repeat;
    background-position: bottom center;
  }
  .main__container {
    padding-top: 52px;
  }
  .wrap {
    height: 100%;
  }
  .main__title {
    font-family: "Commissioner";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #11112d;
  }
  .main__subtitle {
    font-size: 16px;
    line-height: 150%;
    color: #49495a;
    margin-bottom: 32px;
  }
  .main__inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
  }
  .main__input-text {
    width: 335px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #275e76;
    border-bottom: 1px solid #9198ab;
    border-bottom-left-radius: 0;
  }
  .main__input-city {
    width: 335px;
    max-width: none;
    border: 1px solid #275e76;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .main__button-submint {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 211px;
    height: 44px;
    margin-top: 20px;
    background: #275e76;
    border-radius: 4px;
  }
}
/* ------- end section main ------- */
/* ------- section registration ------- */
.registration {
  position: relative;
  height: 640px;
  background-image: url("/img/registration-main-img.png");
  background-repeat: no-repeat;
  background-position: center center;
  border-top: 1px solid #fafafa;
  margin-bottom: 650px;
}

.registration__title {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: #11112d;
  margin-top: 32px;
  margin-bottom: 32px;
}

.registration__container {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px;
  gap: 20px;
  max-width: 770px;
  background: #ffffff;
  -webkit-box-shadow: 0px 12px 40px rgba(17, 17, 45, 0.07);
          box-shadow: 0px 12px 40px rgba(17, 17, 45, 0.07);
  border-radius: 4px;
}

.registration__profiler-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.registration__profiler-img {
  width: 140px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.registration__profiler-img img {
  width: 100%;
  height: 100%;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 522px;
}

.profile__placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  color: #000000;
  padding: 14px 16px;
  margin-bottom: 10px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #bcc1d2;
  border-radius: 4px;
}

.profile__placeholder span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  color: #11112d;
}

.profile__info-phone {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: #757582;
  margin-bottom: 10px;
}

.profile__email-verified {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: #2d7627;
  width: 100%;
  margin-bottom: 20px;
}

.profile-btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile__btn-save {
  padding: 13px 16px;
  background: #275e76;
  border-radius: 6px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 220px;
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #ffffff;
}

.profile__btn-exit {
  padding: 13px 16px;
  background: #f5f5f5;
  border-radius: 6px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #11112d;
}

.load-files {
  width: 100%;
}

.load-video__title,
.load-audio__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  text-align: left;
  color: #000000;
  margin-bottom: 16px;
}

.load-video__area,
.load-audio__area {
  padding: 30px;
  /* max-width: 690px; */
  max-height: 100px;
  background: #ffffff;
  border: 1.5px dashed #e0e0e0;
  border-radius: 8px;
  text-align: center;
  width: 100%;
}

.load-video__area-text,
.load-audio__area-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

.load-video__desc,
.load-audio__desc {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: #757582;
}

.load-resume,
.load-scial-link {
  padding: 14px 16px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.notifications label {
  margin-left: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #11112d;
}

.notifications__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  text-align: left;
  color: #000000;
  margin-bottom: 20px;
}

/* ------- media section registration ------- */
@media (max-width: 719px) {
  .registration {
    position: relative;
    height: auto;
    background-image: none;
    margin-bottom: auto;
  }
  .registration__title {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .registration__container {
    position: static;
    text-align: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 20px;
    gap: 10px;
    max-width: 770px;
  }
  .registration__profiler-wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 522px;
    width: 100%;
  }
  .profile__placeholder {
    width: 100%;
  }
  /* .profile__placeholder:nth-child(-n + 2) {
      flex-basis: 100%;
  }
  .profile__placeholder:nth-child(3),
  .profile__placeholder:nth-child(5) {
      margin-top: auto;
      margin-bottom: auto;
  } */
  /* .profile__email-verified {
      margin-bottom: auto;
  } */
  .profile__btn-save {
    /* align-self: flex-start; */
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 0;
  }
  .profile__btn-exit {
    /* align-self: flex-end; */
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
    margin: 0;
  }
  .load-video__title,
  .load-audio__title {
    margin-bottom: 16px;
  }
  .load-video__area,
  .load-audio__area {
    padding: 30px;
    max-width: 690px;
    max-height: 100px;
    background: #ffffff;
    border: 1.5px dashed #e0e0e0;
    border-radius: 8px;
    text-align: center;
  }
  .load-video__desc,
  .load-audio__desc {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    color: #757582;
  }
  .load-resume,
  .load-scial-link {
    padding: 14px 16px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
  }
  .notifications label {
    margin-left: 10px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: #11112d;
  }
  .notifications__title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    text-align: left;
    color: #000000;
    margin-bottom: 20px;
  }
}
/* ------- section account ------ */
.account {
  position: relative;
  height: 640px;
  background-image: url("/img/registration-main-img.png");
  background-repeat: no-repeat;
  background-position: center center;
  border-top: 1px solid #fafafa;
  margin-bottom: 780px;
}

.account__title {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: #11112d;
  margin-top: 32px;
  margin-bottom: 32px;
}

.account__container {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px;
  gap: 20px;
  max-width: 770px;
  min-width: 375px;
  background: #ffffff;
  -webkit-box-shadow: 0px 12px 40px rgba(17, 17, 45, 0.07);
          box-shadow: 0px 12px 40px rgba(17, 17, 45, 0.07);
  border-radius: 4px;
}

.account__profiler-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.account__profiler-img {
  width: 140px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.account__profiler-img img {
  width: 100%;
  height: 100%;
}

.account__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 20px;
  max-width: 522px;
  width: 100%;
}

.account__name,
.account__secondname {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  color: #11112d;
}

.account__phone,
.account__email,
.account__resume_loading,
.account__video_loading,
.account__audio_loading {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #49495a;
}

.record {
  -ms-flex-item-align: center;
      align-self: center;
}

.record__title,
.vacancies__title {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
  color: #11112d;
  margin-bottom: 20px;
}

/* calendar */
.record {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calendar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.85);
  z-index: 2;
  border-radius: 5px;
}

.record__inner {
  position: absolute;
  z-index: 3;
  color: #000;
  opacity: 0.7;
  text-align: center;
  top: auto;
  left: 0;
  right: 0;
  bottom: auto;
}

/* end calendar */
.vacancies {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  row-gap: 10px;
}

.vacancies__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  border: 1px solid grey;
  border-radius: 5px;
}

.vacancies__item-title {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #11112d;
  margin-bottom: 5px;
}

.vacancies__item-response {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #757582;
  margin-bottom: 5px;
}

.vacancies__item-published {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  color: #757582;
}

.vacancies__item-price {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #275e76;
  padding: 10px;
}

/* ------- media ------- */
@media (max-width: 601px) {
  .account {
    height: auto;
    margin-bottom: auto;
  }
  .account__title {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .account__container {
    position: static;
    padding: 20px;
    gap: 10px;
  }
  .account__profiler-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    gap: 20px;
  }
  .vacancies__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
} /* ------- end section account ------- */
/* ------- section login ------- */
.login {
  padding-top: 72px;
  padding-bottom: 120px;
}

.login__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login__img > img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.login__account {
  max-width: 570px;
}

.login__title {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  color: #11112d;
  margin-bottom: 16px;
}

.login__desc {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #44415c;
  margin-bottom: 24px;
}

.login__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
  margin-bottom: 36px;
}

.button-apple {
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 24px;
  gap: 10px;
  background: #11112d;
  border-radius: 4px;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  color: #ffffff;
}

.button-gogle {
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 24px;
  gap: 10px;
  background: #ea4335;
  border-radius: 4px;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  color: #ffffff;
}

.button-fb {
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 24px;
  gap: 10px;
  background: #2d79ed;
  border-radius: 4px;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  color: #ffffff;
}

.login__help-tel {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #11112d;
  margin-bottom: 16px;
}

.login__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  max-width: 516px;
  height: 56px;
  background: #275e76;
  -webkit-box-shadow: 0px 12px 32px rgba(17, 17, 45, 0.17);
          box-shadow: 0px 12px 32px rgba(17, 17, 45, 0.17);
  border-radius: 4px;
  margin-bottom: 11px;
}

.login__input-phone {
  padding: 16px;
  gap: 10px;
  max-width: 355px;
  width: 100%;
  height: 48px;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #11112d;
}

.login__button-submit {
  padding: 0px 24px;
  gap: 10px;
  max-width: 153px;
  width: 100%;
  height: 48px;
  background: #275e76;
  border-radius: 13px;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  color: #ffffff;
}

.login__agreement {
  max-width: 511px;
  width: 100%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #44415c;
}

/* ------- media ------- */
@media (max-width: 920px) {
  .login__img {
    display: none;
  }
  .login__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 550px) {
  .login {
    padding-top: 52px;
    padding-bottom: 72px;
  }
  .login__title {
    font-family: "Commissioner";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #11112d;
    margin-bottom: 16px;
  }
  .login__desc {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #44415c;
    margin-bottom: 24px;
  }
  .login__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 36px;
  }
  .button-apple {
    width: 100%;
  }
  .button-gogle {
    width: 100%;
  }
  .button-fb {
    width: 100%;
  }
}
/* ------- end section login ------- */
/* ------- section map */
.map {
  padding-bottom: 50px;
}

#map {
  height: 400px;
  width: 100%;
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /* flex-wrap: wrap; */
}

#content > p {
  padding: 10px;
  min-width: 150px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}

#map-marker-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  margin-right: 10px;
}

#map-marker-title > h2 {
  margin-bottom: 30px;
}

#map-marker-img {
  max-width: 150px;
}

#map-marker-button {
  padding: 10px;
  background: #275e76;
  border: none;
  border-radius: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  color: #f5f6f7;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.map__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.map__title {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  text-align: center;
  color: #11112d;
  padding: 50px;
}

.map__pointer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 20px;
}

.map__pointer-item {
  padding: 10px;
}

.map__pointer-item img {
  padding: 0 10px;
}

/* ------- media section map */
@media (max-width: 970px) {
  #content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 853px) {
  .map__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .map__pointer {
    padding: 20px;
  }
  #map-marker-title > h2 {
    margin-bottom: 20px;
  }
  #map-marker-img {
    max-width: 150px;
  }
  #map-marker-button {
    margin-bottom: 20px;
  }
}
/* ------- end section map */
/* ------- section category ------- */
.category__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.category__title {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  text-align: center;
  color: #11112d;
}

.category__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  -webkit-column-gap: 23px;
     -moz-column-gap: 23px;
          column-gap: 23px;
}

.category__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 26px;
  width: 370px;
  height: 89px;
  background: -webkit-gradient(linear, left bottom, left top, from(#fafafa), to(#fafafa)), #ffffff;
  background: -o-linear-gradient(bottom, #fafafa, #fafafa), #ffffff;
  background: linear-gradient(0deg, #fafafa, #fafafa), #ffffff;
  border-radius: 4px;
}

.category__item-img {
  margin-right: 24px;
}

.category__item-title {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #11112d;
}

.category__item-tacks {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #49495a;
}

/* ------- media section category ----- */
/* ------- end section category ------- */
/* ------- footer ------- */
.footer {
  height: 193px;
}

.footer__container {
  width: 100%;
}

.footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 36px;
}

.footer__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 60px;
}

.footer__logo {
  margin-bottom: 16px;
  height: 80px;
}

.footer__title {
  width: 195px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 120%;
  color: #858585;
}

.footer__menu {
  list-style: none;
  margin-right: 60px;
}

.footer__menu-item {
  margin-bottom: 16px;
}

.footer__menu-item:last-child {
  margin-bottom: 0;
}

.footer__menu-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #11112d;
  text-decoration: none;
}

.footer__footer {
  height: 64px;
  border-top: 1px solid #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 120%;
  color: #11112d;
}

.footer__copyright a {
  color: #275e76;
}

.footer__icons {
  width: 248px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* ------- media ------ */
@media (max-width: 719px) {
  .footer__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin-right: 0;
    margin-bottom: 52px;
  }
  /* .footer__logo {
    margin-bottom: 0;
    width: 105px;
    height: 32px;
    fill: #858585;
  } */
  .footer__menu {
    margin-right: 0;
  }
  .footer__menu {
    margin-bottom: 12px;
  }
  .footer__menu-item {
    margin-bottom: 12px;
    text-align: center;
  }
  .footer__footer {
    height: 136px;
    border-top: 1px solid #e0e0e0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
/* ------- end footer ------- */