.site-main {
  background-image: url("/img/foto-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px;
}
.site-main__title,
.site-main__slogan {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 62px;
  color: #ffffff;

  margin-left: 201px;
}
.site-main__title {
  margin-top: 185px;
}
.site-main__form {
  position: relative;
  width: 1006px;
  height: 84px;
  margin-left: 201px;
  margin-top: 27px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.icon-search {
  position: absolute;
  margin: 15px;
  top: 5%;
}
.site-main__search {
  width: 827px;
  height: 50px;
  background: #ffffff;
  border-radius: 6px 0px 0px 6px;
  border: none;
  padding-left: 50px;
  cursor: pointer;

  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #858585;
}
.site-main__find {
  width: 179px;
  height: 50px;
  background: #0466c8;
  border-radius: 0px 6px 6px 0px;
  border: none;
  cursor: pointer;

  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
.site-main__popular-queries {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #ffffff;
}
.site-main__advanced-search {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px dashed #ffffff;
}

.site-main__buttons {
  margin-left: 201px;
  margin-top: 5px;
}
.site-main__buttons button {
  width: 163px;
  height: 35px;
  cursor: pointer;

  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #ffffff;
  border-radius: 100px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.site-main__buttons button + button {
  margin-left: 15px;
}
