/* hot vacancies */
.hot-vacancies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hot-vacancies__title {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #002855;

  text-align: center;
  margin-top: 46px;
}
.hot-vacancies__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 46px;
  gap: 42px;
}
.hot-vacancies__card {
  width: 346px;
  padding: 20px;

  background: #eaf4ff;

  border: 4px solid #fb6a2c;
  box-sizing: border-box;
  box-shadow: 1px 2px 16px 1px rgba(0, 0, 0, 0.03);
  border-radius: 14px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.hot-vacancies__card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.card-header__logo {
  width: 46px;
}
.card-header__logo-flame {
  width: 56px;
}
.hot-vacancies__card-city {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #0466c8;
}

.hot-vacancies__card-vacancy {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;

  color: #0466c8;

  margin-top: 10px;
}
.hot-vacancies__card-price {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;

  color: #0466c8;

  margin-top: 15px;
}

.hot-vacancies__card-description {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;

  color: #0466c8;

  margin-top: 15px;
}
.hot-vacancies__card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  margin-top: 24px;
}
.hot-vacancies__card-button {
  height: 38px;
  width: 145px;
  background: #ff4c00;
  border-radius: 72px;
  border: none;
  cursor: pointer;

  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #f3f3f3;
}
.hot-vacancies__card-data {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #0466c8;
}

.hot-vacancies__button {
  width: 194px;
  height: 50px;
  background: #eaf4ff;
  border-radius: 25px;
  border: none;
  margin: 30px auto;
  cursor: pointer;

  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;

  color: #000000;
}
/* media */
@media (min-width: 1024px) and (max-width: 1259px) {
  .hot-vacancies__title {
    font-size: 36px;
    line-height: 47px;

    margin-top: 51px;
  }
  .hot-vacancies__wrap {
    margin-top: 30px;
    gap: 30px;
  }
  .hot-vacancies__card {
    width: 267px;
    padding: 12px;
  }
  .card-header__logo {
    width: 36px;
  }
  .card-header__logo-flame {
    width: 30px;
  }
  .hot-vacancies__card-city {
    font-size: 13px;
    line-height: 17px;
  }

  .hot-vacancies__card-vacancy {
    font-size: 18px;
    line-height: 23px;

    margin-top: 7px;
  }
  .hot-vacancies__card-price {
    font-size: 18px;
    line-height: 23px;

    margin-top: 7px;
  }

  .hot-vacancies__card-description {
    font-size: 14px;
    line-height: 18px;

    margin-top: 7px;
  }
  .hot-vacancies__card-footer {
    margin-top: 12px;
  }
  .hot-vacancies__card-button {
    width: 113px;
    height: 29px;
  }
  .hot-vacancies__button {
    width: 140px;
    height: 43px;
    margin: 30px auto;

    font-size: 16px;
    line-height: 21px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .hot-vacancies__title {
    font-size: 32px;
    line-height: 42px;

    margin-top: 51px;
  }
  .hot-vacancies__wrap {
    margin-top: 30px;
    gap: 30px;
  }
  .hot-vacancies__card {
    width: 178px;
    padding: 12px;
  }
  .card-header__logo {
    width: 28px;
  }
  .card-header__logo-flame {
    width: 24px;
  }
  .hot-vacancies__card-city {
    font-size: 10px;
    line-height: 13px;
  }
  .hot-vacancies__card-vacancy {
    font-size: 13px;
    line-height: 17px;

    margin-top: 7px;
  }
  .hot-vacancies__card-price {
    font-size: 13px;
    line-height: 17px;

    margin-top: 7px;
  }
  .hot-vacancies__card-description {
    font-size: 10px;
    line-height: 13px;

    margin-top: 7px;
  }
  .hot-vacancies__card-footer {
    margin-top: 7px;
  }
  .hot-vacancies__card-button {
    width: 69px;
    height: 22px;

    font-size: 10px;
    line-height: 13px;
  }
  .hot-vacancies__button {
    width: 140px;
    height: 43px;
    margin: 30px auto;

    font-size: 16px;
    line-height: 21px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .hot-vacancies__title {
    font-size: 32px;
    line-height: 42px;

    margin-top: 30px;
  }
  .hot-vacancies__wrap {
    margin-top: 30px;
    gap: 30px;
  }
  .hot-vacancies__card {
    width: 190px;
    padding: 12px;
  }
  .card-header__logo {
    width: 29px;
  }
  .card-header__logo-flame {
    width: 25px;
  }
  .hot-vacancies__card-city {
    font-size: 10px;
    line-height: 13px;
  }
  .hot-vacancies__card-vacancy {
    font-size: 13px;
    line-height: 17px;

    margin-top: 7px;
  }
  .hot-vacancies__card-price {
    font-size: 13px;
    line-height: 17px;

    margin-top: 7px;
  }
  .hot-vacancies__card-description {
    font-size: 10px;
    line-height: 13px;

    margin-top: 7px;
  }
  .hot-vacancies__card-footer {
    margin-top: 7px;
  }
  .hot-vacancies__card-button {
    width: 74px;
    height: 24px;

    font-size: 10px;
    line-height: 13px;
  }
  .hot-vacancies__button {
    width: 130px;
    height: 35px;
    margin: 30px auto;

    font-size: 13px;
    line-height: 17px;
  }
}
@media (max-width: 479px) {
  .hot-vacancies__title {
    font-size: 16px;
    line-height: 21px;

    margin-top: 30px;
  }
  .hot-vacancies__wrap {
    margin-top: 30px;
    gap: 8px;
  }
  .hot-vacancies__card {
    width: 140px;
    padding: 10px;
  }
  .card-header__logo {
    width: 22px;
  }
  .card-header__logo-flame {
    width: 19px;
  }
  .hot-vacancies__card-city {
    font-size: 8px;
    line-height: 10px;
  }
  .hot-vacancies__card-vacancy {
    font-size: 11px;
    line-height: 14px;

    margin-top: 7px;
  }
  .hot-vacancies__card-price {
    font-size: 11px;
    line-height: 14px;

    margin-top: 7px;
  }
  .hot-vacancies__card-description {
    font-size: 9px;
    line-height: 12px;

    margin-top: 7px;
  }
  .hot-vacancies__card-footer {
    margin-top: 7px;
  }
  .hot-vacancies__card-button {
    width: 65px;
    height: 18px;

    font-size: 9px;
    line-height: 12px;
  }
  .hot-vacancies__card-data {
    font-size: 9px;
    line-height: 12px;
  }
  .hot-vacancies__button {
    width: 130px;
    height: 35px;
    margin: 30px auto;

    font-size: 12px;
    line-height: 16px;
  }
}
/* end section hot vacancies */
