.site-footer {
  height: 384px;
  background-color: #002855;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-wrap {
  width: 1250px;
  height: 384px;
  display: flex;
  flex-direction: column;
}
.footer-menu {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
}
.footer-menu h3 {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
}
.footer-menu li a {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}
.footer-menu li {
  list-style-type: none;
}
.footer-menu li + li {
  margin-top: 10px;
}
.footer-menu li > button {
  width: 182px;
  height: 35px;
  background: #ffffff;
  border-radius: 17.5px;
  border: none;
  text-align: start;
  padding-left: 16px;
  cursor: pointer;

  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}
.social-icon {
  margin-top: 25px;
  margin-bottom: 15px;
  cursor: pointer;
}
.social-icon a + a {
  margin-left: 15px;
}

.footer-data,
.footer-copyright {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.footer-data {
  text-align: end;
  margin-top: auto;
  margin-bottom: 13px;
}

.footer-copyright {
  text-align: center;
  margin-top: auto;
  margin-bottom: 13px;
}
