.site-header {
  height: 50px;
  max-width: 1250px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* навигация */

.topmenu,
.submenu {
  list-style: none;
}
.site-header__navigation {
  display: table;
  margin: 0 auto;
}
.topmenu:after {
  content: "";
  display: table;
  clear: both;
}
.topmenu a {
  text-decoration: none;
}
.topmenu > li {
  width: 194px;
  float: left;
  position: relative;
  font-family: "PT Sans";
}
.topmenu > li > a {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  /* padding: 0 30px; */
}
.topmenu li a:hover {
  color: #d5b45b;
}
/* .submenu-link:after {
  content: "\f107";
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  margin-left: 10px;
} */
.submenu {
  background: #ffffff;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 194px;
  border-radius: 6px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: 0.5s ease-in-out;
}
.submenu li {
  margin: 15px 0;
}
.submenu a {
  color: white;
  text-align: left;
  padding: 15px 0;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.submenu li:last-child a {
  border-bottom: none;
}
.topmenu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}
/* кнопки */

.site-header__button-resume {
  border-radius: 100px;
  background-color: #0466c8;
  color: #ffffff;
  border: none;
  height: 35px;
  width: 231px;
  margin-right: 20px;
  cursor: pointer;
}

.site-header__button-login {
  border-color: #cce4ff;
  border-radius: 100px;
  height: 35px;
  width: 86px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  cursor: pointer;
}
