.job-overview {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.job-overview__wrap {
  width: 1250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.job-overview__title {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #002855;

  text-align: center;
}
.job-overview__buttons-wrap {
  width: 100%;
  text-align: center;
  margin: 30px auto 35px auto;
}

.job-overview__button-item {
  height: 35px;
  border: 1px solid #0466c8;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 0 15px;
  background-color: transparent;
  cursor: pointer;

  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #0466c8;
}

.job-overview__button-item + .job-overview__button-item {
  margin-left: 15px;
}

.job-overview__item {
  width: 292px;
  height: 140px;
  border: 3px solid #cce4ff;
  box-sizing: border-box;
  border-radius: 5px;
  border-top: 15px solid #cce4ff;
  padding: 7px;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.job-overview__item:nth-child(4n-1) {
  border: 3px solid #d5e6cf;
  border-top: 15px solid #d5e6cf;
}
.job-overview__item:nth-child(4n) {
  border: 3px solid #ddd7ff;
  border-top: 15px solid #ddd7ff;
}
.item-vacancy {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}
.item-price {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
}
.item-city {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  color: #858585;
}
.item-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #000000;
}
.job-overview__item-button {
  height: 23px;
  width: 88px;
  background: #0466c8;
  border-radius: 72px;
  border: none;
  cursor: pointer;

  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
}
.item-data {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  color: #858585;
}
.job-overview__button {
  width: 194px;
  height: 50px;
  background: #eaf4ff;
  border-radius: 25px;
  border: none;
  margin: 30px auto;
  cursor: pointer;

  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;

  color: #000000;
}
