body {
  max-width: 1920px;
  min-width: 320px;
}
.wrap {
  width: 1170px;
}
@media (min-width: 800px) and (max-width: 1199px) {
  .wrap {
    width: 800px;
  }
}
@media (min-width: 600px) and (max-width: 799px) {
  .wrap {
    width: 600px;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  .wrap {
    width: 480px;
  }
}
@media (max-width: 479px) {
  .wrap {
    width: 320px;
  }
}
