/* main */
.site-main {
  width: 100%;
  background-color: #ff725e;
  background-image: url(/img/wave.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
}
.site-main__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.site-main__slogan {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  color: #ffffff;

  margin-top: 72px;
}

.site-main__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 80px;

  text-align: center;
  letter-spacing: -0.02em;

  color: #ffffff;

  margin-top: 14px;
}

.site-main__buttons {
  margin-top: 28px;
  position: relative;
}
.button {
  width: 204px;
  height: 68px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: start;
  color: #64748b;
  padding-left: 20px;

  background: #ffffff;
  border-radius: 8px;
}
.veterinarian__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  color: #ff725e;
}
.clinic__title,
.upload__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  color: #160e33;
}
.button + .button {
  margin-left: 16px;
}
.site-main__buttons_beta {
  position: absolute;
  right: -7px;
  top: -8px;
}
.site-main__form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 770px;
  height: 68px;

  background: #ffffff;

  box-shadow: 0px 28px 60px rgba(172, 73, 46, 0.35);
  border-radius: 76px;

  margin-top: 48px;
}
.site-main__placeholder-search {
  width: 100%;
  cursor: pointer;

  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #64748b;
}
.site-main__form_img {
  margin: 22px 12px 22px 32px;
}
.site-main__button-search {
  width: 105px;
  height: 52px;

  background: #6f47ff;
  border-radius: 26px;
  margin: 8px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
  cursor: pointer;
}
.site-main__text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  text-align: center;

  color: #ffffff;

  margin-top: 24px;
  margin-bottom: 44px;
}
/* end main */
