/* -- section offer -- */
.site-offer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;

  position: relative;
}
.site-offer__block-one {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  margin-top: 100px;
  z-index: 2;
}
.pet-insurance {
  display: flex;
  align-items: center;

  width: 585px;
}

.pet-insurance__description {
  margin-left: 40px;
}
.online-store__description {
  margin-right: 40px;
}

.pet-insurance__title,
.online-store__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;

  color: #160e33;
}

.pet-insurance__text,
.online-store__text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #14171c;

  margin-top: 22px;

  width: 280px;
}

.pet-insurance__button,
.online-store__button {
  margin-top: 40px;
}
.online-store {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;

  width: 585px;
}
.site-offer__block-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 100px;
}
/* .site-offer__block-two__img-up {
  margin-left: 200px;
  margin-bottom: -65px;
  width: 250px;
} */
.site-offer__block-two__img-down {
  margin-left: 277px;
  margin-top: -115px;
  width: 303px;
}
.high-quiality-professionals {
  display: flex;
  align-items: center;
  /* height: 470px; */
}

.high-quiality-professionals__description {
  margin-left: 130px;
}

.high-quiality-professionals__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 40px;

  color: #160e33;
}

.high-quiality-professionals__text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  color: #222944;

  margin-top: 24px;

  width: 570px;
}
.high-quiality-professionals__button {
  margin-top: 48px;
}
/* block 3 */
.site-offer__block-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  margin-top: 100px;
  z-index: 2;
}

.free-consultation {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.free-consultation__description {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  /* height: 470px; */
}
.free-consultation__image {
  margin-left: 130px;
}
.free-consultation__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 40px;

  color: #160e33;
}
.free-consultation__text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  margin-top: 24px;

  color: #222944;

  width: 570px;
}
.free-consultation__button {
  margin-top: 48px;
}
.site-offer__block-three__image-cart-veterenarian {
  position: absolute;
  bottom: 10px;
  right: 330px;
}

.site-offer__block-three__icon-syringe {
  position: absolute;
  right: -10px;
  bottom: -30px;
}
.site-offer__semicircle-left {
  position: absolute;
  left: 0;
  top: 380px;

  display: none;
}
.site-offer__wave-left {
  position: absolute;
  left: 0;
  bottom: -720px;
  z-index: -1;

  display: none;
}
.site-offer__wave-rigth {
  position: absolute;
  right: 0;
  top: 240px;

  display: none;
}
/* media */
@media (min-width: 1600px) {
  .site-offer__semicircle-left {
    display: block;
  }
  .site-offer__wave-left {
    display: block;
  }
  .site-offer__wave-rigth {
    display: block;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .site-offer__block-one {
    padding: 0 16px;
    margin-top: 36px;
  }
  .pet-insurance {
    width: 376px;
  }
  .pet-insurance__image {
    width: 144px;
  }
  .pet-insurance__description {
    margin-left: 0;
  }
  .online-store__description {
    margin-right: 34px;
  }

  .pet-insurance__title,
  .online-store__title {
    font-size: 22px;
    line-height: 28px;
  }

  .pet-insurance__text,
  .online-store__text {
    font-size: 14px;
    line-height: 20px;

    margin-top: 6px;

    width: 220px;
  }

  .pet-insurance__button,
  .online-store__button {
    margin-top: 20px;
  }
  .online-store {
    width: 376px;
  }
  .online-store__image {
    width: 122px;
  }
  /* block-two  */
  .site-offer__block-two {
    margin-top: 21px;
  }
  /* .site-offer__block-two__img-up {
    margin-left: 140px;
    margin-bottom: -45px;
    width: 180px;
  } */

  .high-quiality-professionals {
    height: 336px;
  }
  .high-quiality-professionals__images {
    height: 336px;
    padding-left: 16px;
  }
  .high-quiality-professionals__description {
    margin-left: 0;
    padding-right: 24px;
  }

  .high-quiality-professionals__title {
    font-size: 29px;
    line-height: 36px;
    padding-top: 16px;
  }

  .high-quiality-professionals__text {
    font-size: 16px;
    line-height: 24px;

    margin-top: 12px;

    width: 412px;
  }
  .high-quiality-professionals__button {
    margin-top: 8px;
  }
  .site-offer__block-two__img-down {
    display: none;
  }
  /* block 3 */
  .site-offer__block-three {
    margin-top: 48px;
  }

  .free-consultation {
    padding: 0 16px;
  }
  .free-consultation__description {
    height: 336px;
    margin-left: 8px;
  }
  .free-consultation__image {
    width: 337px;
    margin-left: 0;
  }
  .free-consultation__title {
    font-size: 29px;
    line-height: 36px;
  }
  .free-consultation__text {
    font-size: 16px;
    line-height: 24px;

    margin-top: 12px;

    width: 418px;
  }
  .free-consultation__button {
    margin-top: 33px;
  }
  .site-offer__block-three__image-cart-veterenarian {
    display: none;
  }
  .site-offer__block-three__icon-syringe {
    display: none;
  }
}
@media (min-width: 600px) and (max-width: 799px) {
  .site-offer__block-one {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    margin-top: 35px;
  }
  .pet-insurance {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 552px;
  }
  .pet-insurance__image {
    height: 216px;
    width: 144px;
  }
  .pet-insurance__description {
    margin-left: 15px;
    margin-right: auto;
  }
  .online-store {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 552px;
  }
  .online-store__image {
    width: 122px;
    height: 216px;
  }
  .pet-insurance__title,
  .online-store__title {
    font-size: 22px;
    line-height: 28px;
  }

  .pet-insurance__text,
  .online-store__text {
    font-size: 14px;
    line-height: 20px;

    margin-top: 8px;
  }

  .pet-insurance__button,
  .online-store__button {
    margin-top: 36px;
  }

  /* block2 */
  .site-offer__block-two {
    padding: 0 24px;
    margin-top: 40px;
  }

  .site-offer__block-two__img-down {
    display: none;
  }
  .high-quiality-professionals {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* height: 470px; */
  }
  .high-quiality-professionals__images {
    height: 268px;
    width: 268px;
  }
  .high-quiality-professionals__description {
    margin-left: 0;
  }

  .high-quiality-professionals__title {
    font-size: 29px;
    line-height: 36px;
  }

  .high-quiality-professionals__text {
    font-size: 16px;
    line-height: 24px;

    margin-top: 12px;
  }
  .high-quiality-professionals__button {
    margin-top: 28px;
  }
  /* block 3 */
  .site-offer__block-three {
    margin-top: 40px;
    padding: 0 24px;
  }

  .free-consultation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .free-consultation__image {
    height: 268px;
    width: 268px;

    margin-left: 0;
  }
  .free-consultation__description {
    display: flex;

    justify-content: center;
    flex-direction: column;
  }

  .free-consultation__title {
    font-size: 29px;
    line-height: 36px;
  }
  .free-consultation__text {
    font-size: 16px;
    line-height: 24px;

    margin-top: 12px;
  }
  .free-consultation__button {
    margin-top: 28px;
  }
  .site-offer__block-three__image-cart-veterenarian {
    display: none;
  }

  .site-offer__block-three__icon-syringe {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  .site-offer__block-one {
    margin-top: 0;

    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pet-insurance {
    width: 450px;
  }
  .pet-insurance__image {
    width: 144px;
    height: 216px;
  }

  .pet-insurance__description {
    margin-left: 15px;
  }
  .online-store__image {
    height: 216px;
    width: 123px;
  }
  .online-store__description {
    margin-right: auto;
    padding-left: 24px;
  }

  .pet-insurance__title,
  .online-store__title {
    font-size: 22px;
    line-height: 28px;
  }

  .pet-insurance__text,
  .online-store__text {
    font-size: 14px;
    line-height: 20px;

    margin-top: 8px;
  }

  .pet-insurance__button,
  .online-store__button {
    margin-top: 16px;
  }
  .online-store {
    width: 450px;
    margin-top: 20px;
  }
  /* block 2 */
  .site-offer__block-two {
    margin-top: 40px;
  }

  .site-offer__block-two__img-down {
    display: none;
  }
  .high-quiality-professionals {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 0 16px;
  }
  .high-quiality-professionals__images {
    width: 345px;
    height: 345px;
  }
  .high-quiality-professionals__description {
    margin-left: 0;
  }

  .high-quiality-professionals__title {
    font-size: 24px;
    line-height: 32px;

    letter-spacing: -0.02em;
  }

  .high-quiality-professionals__text {
    font-size: 14px;
    line-height: 20px;

    margin-top: 12px;

    width: 450px;
  }
  .high-quiality-professionals__button {
    margin-top: 28px;
  }
  /* block 3 */
  .site-offer__block-three {
    margin-top: 40px;
  }

  .free-consultation {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .free-consultation__image {
    height: 345px;
    width: 345px;

    margin-left: 0;
  }
  .free-consultation__description {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    padding: 0 15px;
  }

  .free-consultation__title {
    font-size: 24px;
    line-height: 32px;

    letter-spacing: -0.02em;

    margin-top: 0;
  }
  .free-consultation__text {
    font-size: 14px;
    line-height: 20px;

    margin-top: 12px;

    width: 450px;
  }
  .free-consultation__button {
    margin-top: 28px;
  }
  .site-offer__block-three__image-cart-veterenarian {
    display: none;
  }

  .site-offer__block-three__icon-syringe {
    display: none;
  }
}
@media (max-width: 479px) {
  .site-offer__block-one {
    margin-top: 0;

    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pet-insurance {
    width: 293px;
  }
  .pet-insurance__image {
    display: none;
  }

  .pet-insurance__description {
    margin-left: 20px;
  }
  .online-store__image {
    display: none;
  }
  .online-store__description {
    margin-right: auto;
    padding-left: 20px;
  }

  .pet-insurance__title,
  .online-store__title {
    font-size: 22px;
    line-height: 28px;
  }

  .pet-insurance__text,
  .online-store__text {
    font-size: 14px;
    line-height: 20px;

    margin-top: 8px;
  }

  .pet-insurance__button,
  .online-store__button {
    margin-top: 16px;
  }
  .online-store {
    width: 296px;
    margin-top: 16px;
  }
  /* block 2 */
  .site-offer__block-two {
    margin-top: 28px;
  }

  .site-offer__block-two__img-down {
    display: none;
  }
  .high-quiality-professionals {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 0 12px;
  }
  .high-quiality-professionals__images {
    width: 296px;
    height: 297px;
  }
  .high-quiality-professionals__description {
    margin-left: 0;
  }

  .high-quiality-professionals__title {
    font-size: 24px;
    line-height: 32px;

    letter-spacing: -0.02em;
  }

  .high-quiality-professionals__text {
    font-size: 14px;
    line-height: 20px;

    margin-top: 12px;

    width: 296px;
  }
  .high-quiality-professionals__button {
    margin-top: 24px;
  }
  /* block 3 */
  .site-offer__block-three {
    margin-top: 28px;
  }

  .free-consultation {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .free-consultation__image {
    height: 296px;
    width: 296px;

    margin-left: 0;
  }
  .free-consultation__description {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    padding: 0 15px;
  }

  .free-consultation__title {
    font-size: 24px;
    line-height: 32px;

    letter-spacing: -0.02em;

    margin-top: 0;
  }
  .free-consultation__text {
    font-size: 14px;
    line-height: 20px;

    margin-top: 12px;

    width: 296px;
  }
  .free-consultation__button {
    margin-top: 24px;
  }
  .site-offer__block-three__image-cart-veterenarian {
    display: none;
  }

  .site-offer__block-three__icon-syringe {
    display: none;
  }
}
/* -- /end section offer -- */
