.our-spaces__subtitle {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;

  color: #9a9a9a;

  max-width: 452px;
}
.our-spaces__arrow-right {
  margin-left: 24px;
}
.space-cards {
  margin-top: 52px;
}
.card-title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #222831;
}
.image__nav-line {
  margin: 44px auto 0 auto;
}
