* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
h1 {
    font-size: inherit;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    text-align: center;
}

h2 {
    font-size: inherit;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    padding: 5px;
}

.container {
    margin: 0 auto;
    max-width: 1199px;
    min-width: 320px;
    padding: 10px;
}

.header {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: flex-start;
}
.header__logo {
    width: 150px;
}
.header__logo-img {
    width: 100%;
    height: 100%;
    display: block;
}
.header__title {
    font-size: 30px;
    vertical-align: middle;
    text-align: left;
    color: #000;
    font-weight: 400;
}
.main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main__area {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.main__image {
    width: 150px;
    height: 150px;
}
.main__image img {
    width: 100%;
    height: 100%;
    border-radius: 3000px;
    box-shadow: 0px 0px 10px 2px rgba(194, 194, 194, 0.7);
}
.main__title {
    color: #000000;
    font-size: 25px;
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    text-align: center;
    padding: 10px;
}
/* modal */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
.modal__title {
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-weight: 300;
    color: #000000;
    font-size: 25px;
    text-align: center;
}
.form {
    max-width: 760px;
}
.form__input {
    width: 100%;
    padding: 10px;
}
.form__select {
    width: 100%;
    position: relative;

    box-sizing: border-box;
    cursor: pointer;
    height: 60px;
    padding: 0 45px 0 20px;
    font-size: 16px;
    line-height: 1.33;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    color: #000000;
    border: 1px solid #a0daf7;
}
.form__select::after {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    pointer-events: none;
}
.form__input-title {
    display: block;
    height: 100%;
    padding-right: 10px;
    padding-bottom: 5px;
    font-weight: 300;
    font-size: 20px;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    color: #000000;
}
.form__input-btn {
    font-size: 100%;
    height: 60px;
    padding: 0 20px;
    font-size: 16px;
    width: 100%;
    border: none;
    outline: none;
    color: #000000;
    border: 1px solid #a0daf7;
}
.form__input-file {
    color: #000000;
    background-color: #a0daf7;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    border: none;
    font-weight: 400;
}
.submit {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form__submit {
    font-family: "IBM Plex Sans", Arial, sans-serif;
    text-align: center;
    height: 60px;
    border: 0 none;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
    white-space: nowrap;
    background-image: none;
    cursor: pointer;

    color: #000000;
    background-color: #a0daf7;
    font-weight: 300;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
/* футер */
.footer {
    padding: 10px 0;
    text-align: center;
    margin-top: 25px;
}
.copyright {
    line-height: 1.6;
}
/* media */
@media (max-width: 1200px) {
    .header__logo {
        width: 13vw;
    }
    .header__title {
        font-size: calc(10px + (35 - 10) * ((100vw - 320px) / (1440 - 320)));
    }
    .main {
        flex-wrap: wrap;
    }
    .main__image {
        width: 13vw;
        height: 13vw;
    }
    .main__title {
        font-size: calc(10px + (30 - 10) * ((100vw - 320px) / (1440 - 320)));
    }
    .modal__title {
        font-size: calc(10px + (30 - 10) * ((100vw - 320px) / (1440 - 320)));
    }
    .form__input-title {
        font-size: calc(10px + (20 - 10) * ((100vw - 320px) / (1440 - 320)));
    }
}
