/* ------- section authorization ------- */

.authorization {
    padding-top: 72px;
    padding-bottom: 120px;
}
.authorization__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.authorization__img > img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}
.authorization__title {
    font-family: "Commissioner";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    color: #11112d;

    margin-bottom: 16px;
}
.authorization__inner {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 570px;
}
.authorization__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.authorization__form label,
.authorization__text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #44415c;
}
.authorization__checkbox {
    display: flex;
    align-items: center;
}
.authorization__form-submit {
    padding: 12px 24px;
    text-decoration: none;
    background: #275e76;
    border-radius: 13px;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    color: #ffffff;
    border: none;
}
.authorization__input {
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 13px;
}
.authorization__text {
    margin-bottom: 10px;
}
.authorization__form-link {
    display: inline-block;

    padding: 12px 24px;
    text-decoration: none;
    background: #275e76;
    border-radius: 13px;
    border: none;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    color: #ffffff;
    margin-bottom: 20px;
}
/* ------- media ------- */
@media (max-width: 920px) {
    .authorization {
        padding-top: 52px;
        padding-bottom: 72px;
    }
    .authorization__img {
        display: none;
    }
    .authorization__container {
        justify-content: center;
    }
}
@media (max-width: 550px) {
    .authorization__title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 16px;
    }
    .authorization__input,
    .authorization__form label {
        width: 100%;
    }
}
/* ------- end section authorization ------- */
