body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Commissioner", sans-serif;
}
.container {
  max-width: 1170px;
  min-width: 375px;
  min-height: 100%;
  margin: 0 auto;
}
.hiden {
  display: none !important;
}

@media (max-width: 1199px) {
  .container {
    padding: 0 20px;
  }
}
