/* Фиксируем позицию body, которую меняет панель гугла */

body {
    top: 0 !important;
    position: static !important;
}

/* Прячем панель гугла */

.skiptranslate {
    display: none !important;
}
.translater {
    padding: 10px;
}
/* Убираем подсветку ссылок */

.goog-text-highlight {
    background-color: inherit;
    box-shadow: none;
    box-sizing: inherit;
}
.language {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.language__img {
    width: 30px;
    cursor: pointer;
    opacity: 0.5;
}

.language__img:hover,
.language__img_active {
    opacity: 1;
}
