/* ------- section account ------ */
.account {
    position: relative;
    height: 640px;
    background-image: url("/img/registration-main-img.png");
    background-repeat: no-repeat;
    background-position: center center;
    border-top: 1px solid #fafafa;

    margin-bottom: 780px;
}
.account__title {
    font-family: "Commissioner";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #11112d;

    margin-top: 32px;
    margin-bottom: 32px;
}
.account__container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 20px;

    max-width: 770px;
    min-width: 375px;

    background: #ffffff;
    box-shadow: 0px 12px 40px rgba(17, 17, 45, 0.07);
    border-radius: 4px;
}
.account__profiler-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}
.account__profiler-img {
    width: 140px;
    flex-shrink: 0;
}
.account__profiler-img img {
    width: 100%;
    height: 100%;
}
.account__profile {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    flex-wrap: nowrap;
    gap: 20px;
    max-width: 522px;
    width: 100%;
}
.account__name,
.account__secondname {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;

    color: #11112d;
}
.account__phone,
.account__email,
.account__resume_loading,
.account__video_loading,
.account__audio_loading {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;

    color: #49495a;
}
.record {
    align-self: center;
}
.record__title,
.vacancies__title {
    font-family: "Commissioner";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    text-align: center;

    color: #11112d;
    margin-bottom: 20px;
}

/* calendar */
.record {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.calendar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.85);
    z-index: 2;
    border-radius: 5px;
}
.record__inner {
    position: absolute;
    z-index: 3;
    color: #000;
    opacity: 0.7;
    text-align: center;
    top: auto;
    left: 0;
    right: 0;
    bottom: auto;
}
/* end calendar */
.vacancies {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    row-gap: 10px;
}
.vacancies__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 5px;
}
.vacancies__item-title {
    font-family: "Commissioner";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #11112d;
    margin-bottom: 5px;
}
.vacancies__item-response {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #757582;
    margin-bottom: 5px;
}
.vacancies__item-published {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    color: #757582;
}
.vacancies__item-price {
    font-family: "Commissioner";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #275e76;

    padding: 10px;
}
/* ------- media ------- */
@media (max-width: 601px) {
    .account {
        height: auto;
        margin-bottom: auto;
    }
    .account__title {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .account__container {
        position: static;
        padding: 20px;
        gap: 10px;
    }
    .account__profiler-wrap {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 20px;
    }

    .vacancies__item {
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
    }
} /* ------- end section account ------- */
